<div class="back">
  <%= link_to cocktails_path do %>
    <i class="fa fa-arrow-left"></i> BACK
  <% end %>
</div>
<%= cl_image_tag @cocktail.photo, width: 100, height: 120, class: "pull-right" %>
<h1><%= @cocktail.name %></h1>
<div class="ingredients">
  <% @cocktail.doses.each do |dose| %>
    <p>
      <%= dose.description %> of <%= dose.ingredient.name %><%= link_to cocktail_dose_path(dose.cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </p>
  <% end %>
</div>

<h2>Add an ingredient</h2>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient, collection: Ingredient.all.map { |ingredient| ingredient.name } %>
  <%= f.input :cocktail, as: :hidden, input_html: { value: @cocktail.name } %>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
